@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Coonvey Avenue<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    08038785674
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@coonvey.com">Support@coonvey.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@coonvey.com">Marketing@coonvey.com</a>
</address>